In [1]:
# project: p6
# submitter: rarora23
# partner: munjal3

In [2]:
import csv

# copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

# use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [3]:
def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if col_name in ["name","host_name","neighborhood_group" ,"neighborhood","room_type"] :
        if val == "":
            return None
        else:
            return val
    if col_name in ["latitude","longitude","reviews_per_month"] :
         if val == "":
            return None
         else:
            return float(val)
    else:
        if val == "":
            return None
        else:
            return int(val)

In [4]:
#q1 What neighborhood groups are present in the airbnb dataset?
def uniqm():
    uniq_name = []
    for i in range(len(csv_data)):
        if csv_data[i][csv_header.index("neighborhood_group")] not in uniq_name:
            uniq_name.append(csv_data[i][csv_header.index("neighborhood_group")])
    return uniq_name

uniqm()

['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx']

In [5]:
#q2 What is the average price?
def avp():    
    count = 0
    for i in range(len(csv_data)):
        count += cell(i,"price")
    return count/len(csv_data)
    
avp()

152.7206871868289

In [6]:
#q3  Count the number of rooms located in neighborhood "Chinatown"? (neighborhood=="Chinatown")
def numr():    
    room = 0
    for i in range(len(csv_data)):
        if cell(i,"neighborhood") == "Chinatown":
            room += 1
    return room
numr()

368

In [7]:
#q4 Find the room names containing "superbowl" (case insensitive)
def supb(a):
    room_name = []
    for i in range(len(csv_data)):
        if cell(i,"name") == None :
            continue
        elif a in  cell(i,"name").lower():
            room_name.append(cell(i,"name"))
    return room_name 
        
supb("superbowl")

['UWS MANHATTAN APT FOR SUPERBOWL WE',
 'SuperBowl West Village Apartment',
 'SUPERBOWL!! 2 Bd, 2 Ba w Roof Deck!',
 '1500 sq ft apt sleeps 8 - SuperBowl',
 'Superbowl Studio Upper West Side',
 '1BR Superbowl rental Hells Kitchen',
 'Superbowl - NYC Apartment',
 'Tribeca Loft for Superbowl Wknd',
 'NYC SuperBowl Wk 5 Bdrs River View ',
 'Downtown NY Apt - SuperBowl Weekend',
 'SuperBowl Penthouse Loft 3,000 sqft',
 'Superbowl in the West Village',
 'SUPERBOWLSUNDAY! 3BLOCK FROM TIMESQ',
 'Super Apt for Superbowl',
 'PERFECT SUPERBOWL STAY',
 'MANHATTAN SUPERBOWL ACCOMODATION',
 'SuperBowl Weekend Rental! 3 BR/1ba']

In [8]:
#q5 Find the room names containing "dream room" (case insensitive)
supb("dream room")

['Dream Room in Sunnyside New York',
 'The Dream Room near Barclays Center',
 'Dream Room in Modern Apartment',
 'Lower East Dream Room!',
 'The Dream Room (Private Room)',
 'DREAM ROOM: gorgegous renovated 1bd, 1 bath',
 'Exclusive Dream room 8 mins from JFK Smoking OK!',
 'King Size Dream Room',
 'KingSize Dream Room']

In [9]:
#q6 Find the room names containing "free wifi" (case insensitive)
supb("free wifi")

['One Bedroom Mini studio - Free WIFI',
 'Great Chelsea Location, Couch/2nd bed, Free WiFi',
 'Private 2 BR APT: Free WIFI & JACUZZI',
 'PRIVATE 1BR APT: Free WIFI & DIRECT TV',
 'Landmark 1 Bedroom has 2 beds, Free WiFi',
 'Modern and Safe Place,Free Wifi',
 'Newly renovated 2 bedroom with FREE WIFI',
 '*NO GUEST SERVICE FEE* Beekman Tower Studio with Queen Bed & Free Wifi',
 '*NO GUEST SERVICE FEE* Beekman Tower One Bedroom Suite with Queen Bed & Free Wifi',
 'Sunny Hudson Yards/ Chelsea Studio, Free WiFi',
 'Private Bedroom in MANHATTAN (Free Wifi)',
 'J- LUXURY SHARED ROOM, AC FREE WIFI+CABLE GARDEN',
 'J- *LUXURY SHARED ROOM AC FREE WIFI CABLE, GARDEN',
 'J- **LUXURY SHARED ROOM 2PPL FREE WIFI+CABLE+AC',
 '5min walk to L train - Free WiFi & Cleaning',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE WIFI CABLE',
 'Explore NYC From Our Private Studio w/Free Wifi',
 'Staten Island - Free Wifi, Parking Space, Near NYC',
 'BIG BEDROOM CLOSE TO LA GUARDIA AIRPORT FREE WIFI',
 'J- COZY ROOM FOR 1 FEMALE FREE WIFI & COFFEE']

In [10]:
#q7 Which host names (host_name column) are anagrams of the phrase "landeyo"?
def anagr():
    anag_name = []
    phr = "landeyo"
    for i in range(len(csv_data)):
        if cell(i,"host_name") == None :
            continue
        elif sorted(phr) == sorted(cell(i,"host_name").lower()):
            anag_name.append(cell(i,"host_name"))
    return anag_name
anagr()

['Yolande']

In [11]:
#q8 List all room ids that require the minimum nights greater than 365 days (minimum_nights > 365).
def minnig():
    min_ngt = []
    for i in range(len(csv_data)):
        if cell(i,"minimum_nights") == None :
            continue
        elif cell(i,"minimum_nights") > 365:
            min_ngt.append(str(cell(i,"room_id")))
    return min_ngt
minnig()

['568684',
 '1615764',
 '4204302',
 '5431845',
 '6169897',
 '8341919',
 '8668115',
 '10053943',
 '11096888',
 '12888849',
 '20990053',
 '27362309',
 '30378211',
 '35834935']

In [12]:
#q9 List all host ids who are hosting greater than 50 rooms. (calculated_host_listings_count > 50)
def host():
    hst_id = []
    for i in range(len(csv_data)):
        if cell(i,"calculated_host_listings_count") == None :
            continue
        elif cell(i,"calculated_host_listings_count") > 50:
            if str(cell(i,"calculated_host_listings_count")) not in hst_id:
                hst_id.append(str(cell(i,"host_id")))
                
    return list(set(hst_id))
host()

['12243051',
 '30283594',
 '22541573',
 '107434423',
 '1475015',
 '200380610',
 '137358866',
 '219517861',
 '16098958',
 '61391963',
 '7503643']

In [13]:
#q10 What are the names of the cheapest rooms in Brooklyn (neighborhood_group == "Brooklyn")?
def cheap(cr):
    rate = []
    fin_rate = []
    price = 10**9
    for i in range(len(csv_data)):
        if cell(i,"neighborhood_group") == None:
            continue
        elif cell(i,"neighborhood_group") == cr:
                rate.append(i)
    for i in rate:
        if cell(i,"price") < price:
            price = cell(i,"price")
    for i in rate:
        if cell(i,"price") == price:
            fin_rate.append(cell(i,"name"))
        
    return fin_rate
cheap("Brooklyn")

['Huge Brooklyn Brownstone Living, Close to it all.',
 'MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)',
 'Sunny, Quiet Room in Greenpoint',
 'Modern apartment in the heart of Williamsburg',
 'Spacious comfortable master bedroom with nice view',
 'Contemporary bedroom in brownstone with nice view',
 'Cozy yet spacious private brownstone bedroom',
 'Coliving in Brooklyn! Modern design / Shared room',
 'Best Coliving space ever! Shared room.']

In [14]:
#q11 What are the names of the cheapest rooms in Manhattan (neighborhood_group == "Manhattan")?
cheap("Manhattan")

['the best you can find']

In [15]:
#q12 What is the average ratio of the number of reviews to availiability?  
def avail():
    num_rev = 0
    cnt = 0
    for i in range(len(csv_data)):
        if cell(i,"availability_365") == None :
            continue
        elif cell(i,"availability_365") > 0:
            num_rev += cell(i,"number_of_reviews")/cell(i,"availability_365")
            cnt +=1

            
    return num_rev/cnt
avail()

1.022127111023942

In [16]:
#q13 Which room ids have the cheapest price among rooms within (40.50 <= latitude <= 40.75, -74.00 <= longitude <= -73.95)
def ids():
    p1 = []
    p2 = []
    price13 = 10**9
    for i in range(len(csv_data)): 
        if (40.50 <= cell(i,"latitude") <= 40.75 )& (-74.00 <= cell(i,"longitude") <= -73.95):
            p1.append(i)
    for i in p1:
        if cell(i,"price") < price13:
            price13 = cell(i,"price")
    for i in p1:
        if cell(i,"price") == price13:
            p2.append(str(cell(i,"room_id")))
        
    return p2  
ids()

['18750597']

In [17]:
#q14 Which room ids have the cheapest price among rooms within (40.75 <= latitude <= 41.00, -73.95 <= longitude <= -73.85)
def ids2():
    p11 = []
    p22 = []
    price14 = 10**9
    for i in range(len(csv_data)): 
        if (40.75 <= cell(i,"latitude") <= 41.00 )& (-73.95 <= cell(i,"longitude") <= -73.85):
            p11.append(i)
    for i in p11:
        if cell(i,"price") < price14:
            price14 = cell(i,"price")
    for i in p11:
        if cell(i,"price") == price14:
            p22.append(str(cell(i,"room_id")))
        
    return p22  
ids2()

['20333471']

In [18]:
#q15 What is the average price of rooms that have greater than 300 reviews?
def price():
    tot_price = 0
    ct = 0
    for i in range(len(csv_data)):
        if cell(i,"number_of_reviews") == None:
            continue
        elif cell(i,"number_of_reviews") > 300:
            tot_price += cell(i,"price")
            ct +=1 
    return tot_price/ct
            
price()

105.51515151515152

In [19]:
#q16 What is the average number of reviews of rooms that have price greater than 1000 dollars?
def rev():
    num_rev = 0
    val = 0
    for i in range(len(csv_data)):
        if cell(i,"number_of_reviews") == None:
            continue
        elif cell(i,"price") > 1000:
            num_rev += cell(i,"number_of_reviews")
            val +=1 
    return num_rev/val
            
rev()

6.410041841004184

In [20]:
#q17 What percentage of rooms whose name contains the word "sweet" also contain the word "home" in its name? (case insensitive)
def perc(w1,w2):
    ct_room1 = 0
    ct_room2 = 0
    list1 = []

    for i in range(len(csv_data)):
        if cell(i,"name") == None :
            continue
        elif w1 in  cell(i,"name").lower():
            ct_room1 +=1
            if w2 in cell(i,"name").lower():
                list1.append(cell(i,"name"))
                ct_room2 += 1
                        
    
    return ct_room2/ct_room1 *100
perc("sweet","home")

30.569948186528496

In [21]:
#q18  What percentage of rooms whose name contains the word "pool" also contain the word "gym" in its name? (case insensitive)
perc("pool","gym")

48.92086330935252

In [22]:
#q19 What percentage of rooms whose name contains the word "five" also contain the word "stars" in its name? (case insensitive)
perc("five","stars")

10.0

In [23]:
#q20 What is the total cost of staying in the most expensive room in Manhattan for the minimum number of nights and then staying in the most expensive room in Brooklyn for their minimum number of nights.
def final_cost1(name):
    maxm = [] 
    max_rate = 0
    min_nit = 0
    for i in range(len(csv_data)):
        if cell(i,"neighborhood_group") == None:
            continue
        elif cell(i,"neighborhood_group") == name:
                maxm.append(i)
    for i in maxm:
        if cell(i,"price") > max_rate:
            max_rate = cell(i,"price")
            min_nit = cell(i,"minimum_nights")
    return max_rate*min_nit


final_cost1("Manhattan") + final_cost1("Brooklyn")

350000